.jobs-table table{
    margin-top: 20px;
    width: 100%;
    border-collapse: collapse;
}

.jobs-table thead{
    font-size:1.2rem;
}

.jobs-table th{
    background:var(--sub-back );
    padding: 8px 0px;
}


.jobs-table tr:nth-child(odd){
    background-color: var(--sub-background);
}


.jobs-table td{
    padding: 6px 0px;
    text-align: center;
    font-weight:500 ;
}

td button,.success-msg,.reject-msg,.pending-msg{
   border: none;
    padding: 5px 10px ;
    border-radius: 10px;
    font-weight: 700;
}

.resume-btn{
    background-color: var(--button);
    color: white;
}
.shortlist,.success-msg{
 background-color: lightgreen;
}

.reject,.reject-msg{
    background-color: red;
}

.pending-msg{
    background-color: grey;
}
