.jobs-grid-container {
    padding: 20px;
    margin-top: 1vh;
}

.jobs-grid-container h2{
    text-align: center;
    position: relative;
    color: var(--heading);
}
.jobs-grid-container h2::after{
    content: "";
    display: block;
    width: 10%;
    height: 4px;
    background:linear-gradient(90deg,#3498db, #9b59b6);
    margin: 0px auto 0 auto;
    border-radius: 10px;
}

.jobs-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
    gap: 20px;
    width: 100%; 
    margin: 0 auto; 
    max-width: 1200px; 
    margin-top: 2vh;

}

.job-card {
    background-color: white;
    border-radius: 8px;
    padding: 20px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    transition: transform 0.2s ease;
}

.job-card:hover {
    transform: translateY(-5px);
}

.job-header {
    display: flex;
    align-items: center;
    margin-bottom: 12px;
    color: var(--heading);
}

.company-logo {
    width: 40px;
    height: 40px;
    object-fit: cover;
    border-radius: 8px;
    margin-right: 10px;
}

.company-info {
    display: flex;
    flex-direction: column;
}

.company-name {
    font-weight: 800;
    margin-bottom: 4px;

}

.posted-days {
    font-size: 0.85rem;
    color: #888;
}

.job-title {
    margin: 10px 0;
    font-size: 1.1rem;
    color: var(--button);
}

.tags {
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
    margin: 10px 0;
}

.tag {
    background-color: #f2f2f2;
    padding: 4px 8px;
    border-radius: 6px;
    font-size: 0.85rem;
}

.footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 15px;
}

.apply-button{
    padding: 6px 12px;
    background-color:var(--button);
    border: none;
    border-radius: 6px;
    cursor: pointer;
    transition: background 0.3s;
}

button:disabled{
    background-color: #888;
    cursor: not-allowed;
}

.apply-button a{
    text-decoration: none;
    color: white;
}

.apply-button:hover {
    background-color:var(--hover);
}

.eror{
    display: flex;
    justify-content: center;
    margin-top: 12px;
}
