.profile-container{
    position: relative;
    z-index: 1000;
    width: 100%;
    
}

.profile-options{
    width: 23%;
    position: absolute;
    right:0;
    
}

.profile-options ul{
    background-color: var(--text);
    width: 20%;
    padding: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-radius:6px ;
    transition: all 0.3s ease-in-out;
    scale: 1.1;
}

.profile-options ul li{
    padding: 2px 2px 3px;
}
.profile-options ul li a{
    text-decoration: none;
    color: var(--background);
    
}